* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.navbar {
  /* position: fixed; */
  width: 100%;
}
.navbar ul li {
  font-size: 1.2rem;
  font-weight: 500;
}
.navbar ul li a {
  padding: 1px;
}
.navbar ul li a:hover {
  border-bottom: 2px solid #dc153d;
  padding: 0;
}
.container {
  margin-top: 80px;
  margin-bottom: 50px;
}
.myname {
  font-weight: 600;
  font-size: 2rem;
  color: #243b55;
}

.type {
  margin: 0;
  font-size: 2.4rem;
  color: #dc153d;
}
.heading {
  padding-top: 50px;
  font-size: 5rem;
}
.heading > div {
  line-height: 5rem;
}

.heading .name {
  font-weight: 700;
  font-size: 5rem;
}

/* landing page image up down animation  */
.img-col {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.img-box img {
  width: 100%;
  height: 25rem;
  border-radius: 20px;
}
.content-box,
.img-box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.border-line {
  border-bottom: 5px solid #11998e;
  margin: auto;
  margin-top: 0;
  width: 10%;
  margin-bottom: 50px;
}

.btn-box .btn {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  color: #dc153d;
  border: 2px solid #dc153d;
  text-decoration: none;
  transition: 0.5s;
}
.btn:hover {
  background: #dc153d;
  color: #fff;
}

.__h1 {
  font-size: 3.5rem;
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
}
.__para {
  font-size: 1.5rem;
}

.__h2 {
  font-weight: 700;
  color: #0075ff;
}
.__p2 {
  font-size: 1rem;
  font-weight: 600;
}

#education {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.education-row {
  border-left: 3px dotted #38ef7d;
  margin-left: 30px;
}
.item {
  margin-bottom: 25px;
  position: relative;
}

.item::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  margin-left: -16px;
}

#projects {
  background: #183153;
  background: linear-gradient(
    to top,
    #243b55,
    #183153
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.font-icon i {
  float: right;
  font-size: 2rem;
  border-radius: 50%;
}
.filter-box {
  width: 18rem;
}

.my-projectcol {
  border-radius: 15px 50px;
  transition: 0.5s;
}

.my-projectcol:hover {
  background: #1e2232;
  color: #fff;
}

/* skill bar css begin */

.progress-title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: 2px;
  margin: 0 0 15px;
}

.progress {
  height: 26px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 10px;
  overflow: visible;
  position: relative;
}

.progress .progress-bar {
  box-shadow: none;
  border-radius: 0;
  position: relative;
  -webkit-animation: 2s linear 0s normal none infinite running
      progress-bar-stripes,
    animate-positive 4s;
  animation: 2s linear 0s normal none infinite running progress-bar-stripes,
    animate-positive 4s;
}

.progress-bar .progress-value {
  width: 50px;
  height: 100%;
  background: #000;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  line-height: 27px;
  top: 0;
  left: 0;
}

.progress:after,
.progress .progress-bar:after,
.progress .progress-value:after {
  content: "";
  border-left: 13px solid rgba(0, 0, 0, 0.1);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  position: absolute;
  top: 0;
  right: -13px;
}

.progress.red .progress-bar:after {
  border-left-color: #d9534f;
}

.progress .progress-value:after {
  border-left: 13px solid #000;
}

.progress.blue .progress-bar:after {
  border-left-color: #5bc0de;
}

.progress.yellow .progress-bar:after {
  border-left-color: #f0ad4e;
}

.progress.green .progress-bar:after {
  border-left-color: #5cb85c;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

/* skill bar css end */

/* //fotter css begin */

.myfooter {
  text-align: center;
  background: #1e2232;
}
.social-icons {
  text-align: center;
  margin-top: 20px;
}
.social-icons li {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  margin: 0px;
}
.social-icons li a i {
  font-size: 1.4rem;
  padding: 12px;
  border-radius: 50%;
  background-color: #fff;
}
.social-icons li a:hover {
  color: blue;
}

/* //footer css end  */

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
#contact-list li {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
#contact-list li a:hover {
  color: #dc153d;
}


.myalert{
  background-color: #32a653;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  display: none;
  transition: 0.5s;
}



@media screen and (max-width: 600px) {
  .heading {
    font-size: 2rem;
    padding: 10px;
  }
  .heading .name {
    font-size: 2.4rem;
  }
  .heading > div {
    line-height: 2.4rem;
  }
  .type {
    font-size: 1.2rem;
  }
  .btn-box {
    margin-top: 20px;
  }
  .img-box,
  .content-box {
    width: 100%;
    padding: 20px;
  }
  .__h1 {
    font-size: 2.8rem;
  }
  .__para {
    font-size: 1.2rem;
  }
}
